{% extends "admin/change_list.html" %}
{% block extrahead %}
{{ media.js }}
{{ block.super }}
<script language="javascript">
var $ = django.jQuery;
$(function(){
	$('#chkall').click(function(){
		var self = this
		$('.fieldlist').each(function(){
			this.checked = self.checked
		})
	})
})
</script>
{% endblock %}


{% block breadcrumbs %}
{% endblock %}
{% block content %}
<div id="content-main">
<form action=".{{ params }}" method="post">
{% csrf_token %}
<div>
	<fieldset class="module aligned ">
	{% for field in fields %}
		<div class="form-row"><input type="checkbox" value="{{ field.name }}" name="fieldlist" class="fieldlist" />{{ field.verbose_name }}</div>
	{% endfor %}
	</fieldset>
</div>
<div class="submit-row">
<input type="checkbox" value="" name="chkall" id="chkall" />全选
<input type="submit" name='save' value="导出" class="default onlysave" />
</div>
</form>
</div>
{% endblock %}
