{% extends "admin/base.html" %}
{% block footer %}
<script type="text/javascript">
(function($){
    function add_message(message) {
        var message = $('<li class="' + message.tags + '">' + message.message + '</li>').hide();
        $("#messagelist").append(message);
        message.fadeIn(500);

        setTimeout(function() {
            message.fadeOut(500, function() {
                message.remove();
            });
        }, 3000);
    }
window.show_messages = function(){
    $.getJSON('/mfhuiGL/admin/get_messages/', function(data){
        for(var i=0;i<data.length;i++){
            add_message(data[i]);
        }
    })
}
})(django.jQuery);
</script>
{% endblock %}

