{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list ext_admin_list %}
{% load admin_urls %}

{% block result_list %}
    {% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
    {% ext_result_list cl %}
    {% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
{% endblock %}

{% block object-tools-items %}
{{ block.super }}
{% if not is_popup %}
{% if has_export_permission %}
      <li>
        <a href="{% url cl.opts|admin_urlname:'export' %}{{ querystring }}" class="addlink">
          {% blocktrans with cl.opts.verbose_name as name %}导出 {{ name }}{% endblocktrans %}
        </a>
      </li>
{% endif %}
{% endif %}
{% if not is_popup %}
{% if has_stat_permission %}
      <li>
        <a href="{% url cl.opts|admin_urlname:'stat' %}{{ querystring }}" class="addlink">
          {% blocktrans with cl.opts.verbose_name as name %}统计 {{ name }}{% endblocktrans %}
        </a>
      </li>
{% endif %}
{% endif %}

 {% endblock %}

